*Please create a config.properties file (default path: src/main/java/resources/config.properties):
CHROME_DRIVER=please/put/your/path/to/chromedriver.exe
FIREFOX_DRIVER=please/put/your/path/to/geckodriver.exe
BROWSER_NAME=CHROME
BASE_URL=https://automationteststore.com/
BASE_WAIT_IN_SECONDS=3
COOKIE_CURRENCY=USD/EUR/GBP